{% include 'sitio/cabecera.html' %}


        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">Bienvenido a FERREMAS</h1>
                <p class="col-md-8 fs-4">
                    FERREMAS Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo harum aut repellendus fuga qui ducimus veniam odio perspiciatis, 
                    ipsam nesciunt dolores, quae iure velit officia necessitatibus dolor. Inventore, impedit hic.
                </p>
                <button class="btn btn-primary btn-lg" type="button">
                    Example button
                </button>
            </div>
        </div>

{% include 'sitio/pie.html' %}